.window-content {
  background-color: rgba(16, 16, 16, .55);
  display: flex;
  fill: var(--color3);
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.detail-title {
  color: var(--detail);
}

.window-content p {
  color: var(--color3);
  font-size: 1.4rem;
}

.inner-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .25rem;
}

.inner-details svg {
  margin: .5rem 0 0;
  width: 5.5rem;
  height: 5.5rem;
}

@media (max-width: 767px) {
  .glare-item-top.outer-edge {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, rgba(255, 255, 255, .8) 35%, #fff 50%, rgba(255, 255, 255, .8) 65%, rgba(0, 0, 0, 0) 85%);
  }
}

@media (max-width: 500px) {
  .inner-details svg {
    width: 4rem;
    height: 4rem;
  }
}