.async-paginate {
  backdrop-filter: blur(4px);
  padding: 2rem 2rem 0;
  position: sticky !important;
  top: 0;
  z-index: 9;
}

@media (max-width: 1023px) {
  .async-paginate {
    margin: 1.6rem 4.3rem 1.6rem 2rem;
    opacity: 0;
    padding: 0;
    transition: opacity 0.6s var(--cubic);
  }

  .window.menu-opened .async-paginate {
    opacity: 1;
  }
}