header {
  align-items: center;
  border-radius: .75rem;
  border: .75px solid transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}

header>div,
header>nav {
  font-size: 1.17rem;
}

.burger-container {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: none;
  height: 50px;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.3s var(--cubic);
  user-select: none;
  width: 50px;
  z-index: 999;
}

.burger-container #burger {
  display: block;
  height: 8px;
  margin: -4px auto 0;
  position: relative;
  top: 50%;
  width: 26px;
}

.burger-container #burger .bar {
  background-color: var(--black);
  display: block;
  height: 3px;
  position: relative;
  transition-delay: 0s;
  transition: all 0.3s var(--cubic);
  width: 100%;
}

.burger-container #burger .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}

.burger-container #burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}

.burger-container.menu-opened {
  transform: rotate(90deg);
}

.burger-container.menu-opened #burger .bar {
  transition: all 0.4s var(--cubic);
  transition-delay: 0.2s;
  background-color: #fff;
}

.burger-container.menu-opened #burger .bar.topBar {
  transform: translateY(5px) rotate(45deg);
}

.burger-container.menu-opened #burger .bar.btmBar {
  transform: translateY(2px) rotate(-45deg);
}

@media (max-width: 1023px) {
  .burger-container {
    display: inline-block;
  }
}

@media (max-width: 500px) {

  header>div {
    font-size: 1rem;
  }
}