.date {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  line-height: 1.7;
  color: #f2f2f2;
  padding: .25rem 1rem;
  font-weight: bold;
  background-color: #111;
  box-shadow: none !important;
}