:root {
  --detail: #f26b47;
  --detail2: #f99745;
  --detail3: #ffc342;
  --weather: #f26b47;
  --blue: #3DA4C2;
  /* --color3: #f5ede9; */
  --color3: #f2f2f2;
  --black: #111;
  --woodlandNight: #4d575a;
  --blueCharcoal: #010314;
  --greyBack: #b4babd;
  --white: rgba(255, 255, 255, 0.5);

  --crisp: url('/crisp_q9lzph.png');

  --font-regular: 'Helvetica', serif;
  --mukta: 'Mukta', sans-serif;

  --cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  /* background-image: var(--crisp), radial-gradient(128.66% 112.77% at 59% 96.75%, var(--blueCharcoal) 31.41%, var(--weather) 63.27%, #fff 107%) !important; */
  /* background-image: var(--crisp), radial-gradient(140% 107.13% at 8% 10%, transparent 45.41%, var(--woodlandNight) 64.27%, var(--blueCharcoal) 91%) !important; */
  background-attachment: fixed;
  background-color: var(--weather);
  background-image: var(--crisp), radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, var(--woodlandNight) 69.27%, var(--blueCharcoal) 100%) !important;
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  scroll-behavior: smooth;
}

h1 {
  color: #fff;
}

main {
  height: 100%;
  width: 100%;
  min-height: 76.8svh;
  max-width: 1440px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  body {
    /* background-image: var(--crisp), radial-gradient(142.66% 109.77% at 51% 96.75%, var(--blueCharcoal) 31.41%, var(--weather) 63.27%, #fff 107%) !important; */
    background-image: var(--crisp), radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, var(--woodlandNight) 69.27%, var(--blueCharcoal) 100%) !important;
  }
}

/*  */

.description {
  text-transform: capitalize;
  font-size: 1.75rem;
  color: var(--black);
  font-weight: 900;
}

.pop svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--blue);
}

.mini-icon {
  width: 4rem;
  height: 4rem;
  fill: var(--detail);
}